<footer>
    <div class="f-clsss-whole">
        <div class="f-clsss-socilac">
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
        <div class="f-clsss-company">&copy;WOW Skincare pvtLtd.,</div>
        <div class="linking-footer">
            <a href="/listings/privacy">privacy&terms</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/listings/FAQ">FAQ</a>
        </div>
    </div>
</footer>